![](https://i.imgur.com/JsMvGnP.png)


## Exercícios de manipulação de dados - Parte 2

Neste Jupyter notebook você irá resolver uma exercícios utilizando a linguagem Python e a biblioteca Pandas.

Todos os datasets utilizados nos exercícios estão salvos na pasta **datasets**.

Todo o seu código deve ser executado neste Jupyter Notebook. Por fim, se desejar, revise as respostas com o seu mentor.

### Tarefa 1. Importe o dataset e salve os dados em um dataframe

Os dados estão salvos no arquivo ***datasets/US_Crime_Rates_1960_2014.csv***.

Este dataset contém dados de crimes ocorridos nos Estados Unidos no período de 1960 até 2014.

Salve os dados em uma variável de nome *crime*.

In [64]:
import pandas as pd
crime = pd.read_csv('https://raw.githubusercontent.com/mandysampaio/data-manipulation-exercises/master/datasets/US_Crime_Rates_1960_2014.csv', sep = ',')
crime.head(10)

   Year  Population    Total  ...  Burglary  Larceny_Theft  Vehicle_Theft
0  1960   179323175  3384200  ...    912100        1855400         328200
1  1961   182992000  3488000  ...    949600        1913000         336000
2  1962   185771000  3752200  ...    994300        2089600         366800
3  1963   188483000  4109500  ...   1086400        2297800         408300
4  1964   191141000  4564600  ...   1213200        2514400         472800
5  1965   193526000  4739400  ...   1282500        2572600         496900
6  1966   195576000  5223500  ...   1410100        2822000         561200
7  1967   197457000  5903400  ...   1632100        3111600         659800
8  1968   199399000  6720200  ...   1858900        3482700         783600
9  1969   201385000  7410900  ...   1981900        3888600         878500

[10 rows x 12 columns]

### Tarefa 2. Qual o tipo de dados em cada coluna?

In [65]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

### Tarefa 3. Converta o tipo de dado da coluna Year para o tipo datetime

*Dica: procure na documentação da biblioteca como fazer tal conversão*

In [66]:
#crime['Year']= pd.to_datetime(crime['Year'], format='%Y')
#crime.head(5)

### Tarefa 4. Configure a coluna Year como index do DataFrame.

*Dica: use a função set_index() do Pandas*

In [76]:
crime.set_index(crime['Year'], inplace=True)
crime.head(5)

# se o drop default é True pq a coluna continuou ali?

      Year  Population  Violent  ...  Burglary  Larceny_Theft  Vehicle_Theft
Year                             ...
1960  1960   179323175   288460  ...    912100        1855400         328200
1961  1961   182992000   289390  ...    949600        1913000         336000
1962  1962   185771000   301510  ...    994300        2089600         366800
1963  1963   188483000   316970  ...   1086400        2297800         408300
1964  1964   191141000   364220  ...   1213200        2514400         472800

[5 rows x 11 columns]

### Tarefa 5. Remova a coluna Total do DataFrame.

In [73]:
del crime['Total']
crime.head(5)

      Year  Population  Violent  ...  Burglary  Larceny_Theft  Vehicle_Theft
Year                             ...
1960  1960   179323175   288460  ...    912100        1855400         328200
1961  1961   182992000   289390  ...    949600        1913000         336000
1962  1962   185771000   301510  ...    994300        2089600         366800
1963  1963   188483000   316970  ...   1086400        2297800         408300
1964  1964   191141000   364220  ...   1213200        2514400         472800

[5 rows x 11 columns]

### Tarefa 6. Encontre o número de roubos de carro do ano de 1978.

In [84]:
roubos = crime["Year"].isin(["1978"])
roubos = crime[roubos]
roubos['Vehicle_Theft']

Year
1978    1004100
Name: Vehicle_Theft, dtype: int64

### Tarefa 7. Retorne a linha do ano em que houve o maior número de assasinatos. 

*Dica: use a coluna Murder como referência.*

In [101]:
crime[crime['Murder'] == crime['Murder'].max()]

Year
1991    24700
Name: Murder, dtype: int64

### Tarefa 8. Retorne o número de assassinatos do ano em que foi registrado o menor número de roubo de carros.

In [102]:
crime['Murder'][crime['Vehicle_Theft'] == crime['Vehicle_Theft'].min()]

Year
1960    9110
Name: Murder, dtype: int64

**Parabéns! Você chegou ao fim**